//Colors
$primary: #7ED957;
$secondary: #4F4F4F;
$black: #000000;
$black-emphasis: rgba(0, 0, 0, 0.87);
$black-inactive: rgba(0, 0, 0, 0.54);
$grey-900: #1A1F36;
$grey-300: #D9DCE1;
$white: #FFFFFF;
$white-inactive: #FFF7F7;
$white-dark: #F2F2F2;
$color-border: #E0E0E0;
$color-border-1: #979797;
$color-scroll-thumb: #828282;
$color-green: rgba(126, 217, 87, 0.5);
$color-red: red;