.tabs-wrapper {
  .tab-menu {
    @include flex(flex-start, center);
    & > div {
      text-align: center;
      position: relative;
      cursor: pointer;
      width: 250px;
      padding: 5px 0 5px 0;
      border: 1px dashed $white;
      border-radius: 14px 14px 0px 0px;
      background: $secondary;
      color: $white;
      font-size: 20px;
      font-weight: 500;
      &.focus {
        background-color: $primary;
        border: 2px solid $primary;
      }
    }
  }

  .tab-view {
    height: 73vh;
    overflow: auto;
    position: relative;
    .tab-content {
      display: none;
      &.selected {
        display: block;
      }
    }
  }
}
